src/indicator-datetime-service
data/indicator-datetime.service
data/org.ayatana.indicator.datetime.gschema.valid
src/gen-datetime-service.xml.c
src/gen-datetime-service.xml.h
data/com.canonical.indicator.datetime.gschema.valid
data/indicator-datetime.conf
data/indicator-datetime.desktop
data/indicator-datetime.upstart.desktop

build/
po/Makevars
po/Makefile.in.in
po/POTFILES.in
po/LINGUAS

