Source: indicator-datetime
Section: misc
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
# language-pack-en-base is for the unit tests s.t. we can test in 12h and 24h locales
Build-Depends: cmake,
               dbus,
               debhelper (>= 9), 
               dh-translations,
               intltool (>= 0.35.0), 
               gnome-common,
               language-pack-en-base,
               libxorg-gtest-dev,
               libgtest-dev,
               libglib2.0-dev (>= 2.35.4),
               libnotify-dev (>= 0.7.6),
               libido3-0.1-dev (>= 0.2.90),
               libgeoclue-dev (>= 0.12.0),
               libecal1.2-dev (>= 3.5),
               libical-dev (>= 1.0),
               libgtk-3-dev (>= 3.1.4),
               libcairo2-dev (>= 1.10),
               libjson-glib-dev,
               libpolkit-gobject-1-dev,
               libedataserver1.2-dev (>= 3.5),
               libgconf2-dev (>= 2.31),
               libgnome-control-center-dev,
               libunity-control-center-dev,
               libtimezonemap1-dev,
               liburl-dispatcher1-dev,
               libproperties-cpp-dev,
               locales,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/indicator-datetime
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/indicator-datetime/trunk.13.04
Vcs-Browser: https://bazaar.launchpad.net/~indicator-applet-developers/indicator-datetime/trunk.13.04/files

Package: indicator-datetime
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         geoclue-ubuntu-geoip | geoclue-provider,
         systemd-services,
         systemd-shim,
Recommends: indicator-applet | indicator-renderer,
            evolution-data-server,
            unity-control-center-datetime | gnome-control-center-datetime | ubuntu-system-settings,
Suggests: click,
Conflicts: indicator-datetime (<< 13.10.0)
Replaces: indicator-datetime (<< 13.10.0)
Description: Simple clock
 A simple clock appearing in the indicator bar

Package: gnome-control-center-datetime
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         indicator-datetime (=${binary:Version}),
         gnome-control-center,
Conflicts: indicator-datetime (<< 13.10.0)
Replaces: indicator-datetime (<< 13.10.0)
Description: Clock settings in the GNOME Control Center
 A module to get date time and clock settings in the GNOME control
 center.

Package: unity-control-center-datetime
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         indicator-datetime (=${binary:Version}),
         unity-control-center,
Conflicts: indicator-datetime (<< 13.10.0)
Replaces: indicator-datetime (<< 13.10.0)
Description: Clock settings in the Unity Control Center
 A module to get date time and clock settings in the Unity control
 center.

